{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My App{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'appointments/css/book_appointment.css' %}">
    <link rel="stylesheet" href="{% static 'appointments/css/appointment_history.css' %}">

</head>
<body>
    {% block navbar %}
    {% endblock %}

    {% block content %}
    <!-- Page content here -->
    {% endblock %}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'appointments/js/book_appointment.js' %}"></script>
  
</body>
</html>